.root {
  height: 400px;
  background: linear-gradient(to right, rgb(215,221,176) 50%, rgb(242,181,181) 20px); 
}

.tagline {
  flex-shrink: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(215,221,176) 70%, rgb(242,181,181) 20px); 
  display: flex;
  align-items: center;
}

.tagline > div {
  margin-top: -100px;
  margin-left: 16px;
}

.photo {
  width: 60%;
  background: linear-gradient(to right, rgb(215,221,176) 50%, rgb(242,181,181) 20px); 
}

.photo {
  display: none;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;

}


@media only screen and (min-width: 768px) {
  .tagline {
    width: 50%;
    background: rgb(215,221,176);
  }
  
  .tagline > div {
    margin-left: 32px;
  }
  
  .photo {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .tagline {
    width: 40%;
  }
}