.root {
  height: 400px;
  /* font-family: 'Lato'; */
}

.tagline {
  flex-shrink: 0;
  width: 40%;
  background-color: rgba(156,169,58,0.4);
  display: flex;
  align-items: center;
}

.tagline > div {
  margin-top: -100px;
  margin-left: 32px;
}

.photo {
  width: 60%;
  background: linear-gradient(to right, rgba(156,169,58,0.4) 50%, rgba(222,71,70,0.4) 20px); 
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;

}